{% extends "base.html" %}
{% block title %}Sign in · ACME{% endblock %}
{% block content %}
  <div class="card card-center">
    <div class="card-header">
      <h2 class="card-title">Sign in</h2>
    </div>
    <form class="form" method="post">
      <label class="label">Username</label>
      <input class="input" type="text" name="username" required>

      <label class="label">Password</label>
      <input class="input" type="password" name="password" required>

      <button class="btn btn-primary" type="submit">Sign in</button>
    </form>
  </div>
{% endblock %}
